//
// _layouts.scss
//

body[data-layout-size='boxed'] {
  background-color: $boxed-body-bg;
  #layout-wrapper {
    background-color: $body-bg;
    max-width: $boxed-layout-width;
    margin: 0 auto;
    box-shadow: $box-shadow;
  }

  #page-topbar {
    max-width: $boxed-layout-width;
    margin: 0 auto;
  }

  .footer {
    margin: 0 auto;
    max-width: calc(#{$boxed-layout-width} - #{$sidebar-width});
  }

  &.vertical-collpsed {
    .footer {
      max-width: calc(#{$boxed-layout-width} - #{$sidebar-collapsed-width});
    }
  }
}

// Horizontal Boxed Layout

body[data-layout='horizontal'][data-layout-size='boxed'] {
  #page-topbar,
  #layout-wrapper,
  .footer {
    max-width: 100%;
  }
  .container-fluid,
  .navbar-header {
    max-width: $boxed-layout-width;
  }
}

#layout-wrapper {
  height: 100vh;
  .ant-layout {
    height: 100vh;
    padding: 0 !important;
    .ant-layout-content {
      padding: 0 6px !important;
    }
    .ant-layout-sider {
      // margin-top: 70px;
      .ant-menu {
        background-color: #1b2c3f;
        li,
        span,
        .separator,
        .ant-menu-submenu {
          div {
            i {
              color: #fffeee;
            }
          }
          color: #fffeee;
        }
      }
    }
  }
}

.transition-footer {
  transition: all 0.3s ease-in-out;
}
